body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0.5rem;
    width: 300px;
    flex: wrap;
}

#workingExpression {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    height: 50px;
    font-size: large;
    font-weight: bold;
    padding: 0px 20px 0px 0px;
    grid-column: span 4;
    border: 2px solid rgb(51, 51, 51);
    border-radius: 4px;
    background-color: rgb(235, 235, 235);

}

#equal {
    grid-column: span 2;
}

button {
    width: auto;
    height: 50px;
    font-size: large;
}
